/* Add these styles to your existing CSS or create a new CSS file */

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.popup-container {
  position: fixed;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 45px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.rounded-button {
  border-radius: 8px;
  margin: 5px;
  padding: 25px;
  cursor: pointer;
}

.check-button {
  background-color: #3498db; /* Blue color for the buttons */
  color: #ffffff;
  border: none;
  font-size: large;
}

/* Side Box styles */
.side-box {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Top Header styles */
.top-header {
  background-color: #3b5998;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  border-radius: 1px;
  padding: 3px;
  align-items: center;
  align-self: auto;
}

.top-buttons button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  background-color: #3498db; /* Blue color for the buttons */
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Middle Section styles */
.middle-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}

.side-main-section-left,
.side-main-section-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 25px;
}

.side-main-section-left {
  flex-basis: 66%; /* 1/3 of the width */
}

.side-main-section-right {
  flex-basis: 33%; /* 2/3 of the width */
}

#message {
  font-size: 26px;
  margin-top: 20px;
}

/* Navigation Menu styles */
.nav-menu-container {
  display: none;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  z-index: 1000;
}

.visible {
  display: block;
}

.nav-menu-list {
  list-style-type: none;
  font-size: larger;
  padding: 0;
  margin: 0;
}

.nav-menu-list li {
  margin-bottom: 10px;
  cursor: pointer;
}

.show-nav-menu {
  display: block;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* Hamburger Nav styles */
.nav {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 10px;
}

/* Additional styles for modern appearance */
.yes-button {
  background-color: #3498db; /* Blue color for the buttons */
}

.no-button {
  background-color: #e74c3c; /* Red color for the buttons */
}

/* New styles for the table */
.quality-table {
  border: 3px solid #0064a7;
  border-collapse: collapse;
  width: auto;
  table-layout: fixed;
  transition: height 0.3s;
  background-color: #ddd;
}

.quality-table th,
.quality-table td {
  line-height: 45px;
  font-size: 18px;
  padding: 12px;
  height: auto;
  text-align: center;
  word-wrap: break-word;
  border-bottom: 2px solid #419fde86;
  border-left: 1px solid #419fde86;
}

.checkmark-cell {
  text-align: center;
}
